.pagination {
    display: flex;
    flex-wrap: wrap;
  }
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
   .pagination li {
    display: inline-block;
    margin: 0 5px;
  }
   .pagination li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: lightgray;
    color: black;
    border-radius: 50%; /* added this line */
    text-align: center;
    text-decoration: none;
  }
   .pagination li.active a {
    background-color: gray;
    color: white;
  }
   .pagination li.disabled a {
    background-color: lightgray;
    color: gray;
    pointer-events: none;
    cursor: default;
  }
 
 
  .page-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: transparent;
    border: none;
  }
  
 
 
 
 
  .pagination-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A1B4C7;
  }
   .page-item-circle {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
    color: #A1B4C7;
  }
   .page-link-circle {
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #E8EDF1;
    font-weight: bold;
    color: #636363;
    text-align: center;
    line-height: 1.5;
    
  }
   .page-link-circle:hover,
  .page-link-circle:focus {
    background-color:  #A1B4C7;
    color: #fff;
    text-decoration: none;
    
  }
   .page-link-circle.active {
    background-color:  #A1B4C7;
    color: #fff;
    font-weight: bold;
  }
   .page-link-circle.disabled {
    
    background-color: #ddd;
    color: #636363;
    pointer-events: none;
  }
   .underline-text {
      color: #636363;
    text-decoration: underline;
   }
 
 
  .underline-text:hover {
    color: #636363;
    text-decoration: underline bold;
        background-color: transparent;
       
   
  }
 
 
 
 
 
 
 
 
  .pagination-prev-next:hover {
    background-color: transparent;
    }
 